.jumbotron {
    background-color: navy;
    color: white;
    font-family: sans-serif;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
}
.btn {
    margin-left: 10px;
    margin-bottom: 5px;
}
.jumbotron h1 {
    text-align: center;
    
}
#search-parameter-title {
    background-color: black;
    color: white;
}
#top-articles-title {
    background-color: black;
    color: white;
}
.form-cards {
    border: black;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 30px;
    
}
.form-group {
    padding: 10px;
}